*.pyc
test.py
dumpObj.py
url.txt

# pypi
dist/
build/
PixivPy.egg-info/
PixivPy3.egg-info/
MANIFEST

# Mac
.DS_Store

# IDE
/.idea/
/.vscode/

# tests
.pytest_cache/
.mypy_cache/
.ruff_cache/

# users
.env
